<%= form_with model: @user, local: true do |form|  %>
    Update Password for <h1><%= @user.email %></h1>
  <% if flash[:confirm_password] %>
    <div class="confirm_password"><%= flash[:confirm_password] %></div>
  <% end %>
    <p>
        <%= form.label :password %>
        <%= form.password_field :password %>
    </p>

    <p>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
    </p>
    
    <%= form.submit "Update Password" %>
<% end %>