<% if current_user.cart && current_user.cart.cart_products.exists? %>
  Cart For
  <%= current_user.first_name %>
  <%= current_user.last_name %>
  <table border="1">
    <tr> 
      <th>Name</th>
      <th>Description</th>
      <th>price</th>
      <th>Quantity</th>
    </tr>
  <% current_user.cart.cart_products.each do |cart_product|%>
    <tr>
      <td><%= cart_product.product.name %></td>
      <td><%= cart_product.product.description %></td>
      <td><%= cart_product.product.price %></td>
      <td><%= cart_product.quantity %></td>
      <td><%= link_to 'delete product', cart_product_path(cart_product), method:
      :delete, data: { confirm: 'Are you sure?' } %> 
      </td>
    </tr>
  <% end %>

  <%= link_to 'Confrim order', orders_path(current_user), method: :post %>
</table>
<% else %>
  Your cart is empty
<% end %>
