<%= form_with(model: [current_user, @address], local: true) do |form| %>
  <p>
    <%= form.label :house_number %><br>
    <%= form.text_field :house_number %>
  </p>
  <p>
    <%= form.label :area %><br>
    <%= form.text_field :area %>
  </p>
  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>

    <%= form.submit %>
  </p>
<% end %>