<h1>Product list</h1>
<% if flash[:cart_product] %>
  <div class="cart"><%= flash[:cart_product].values %></div>
<% end %>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>image</th>
    
  </tr>
  <% @products.each do |product| %>
    <tr>
      <th><%= product.name %></th>
      <th><%= product.description %></th>
      <th><%= product.price %></th>
      <th><%= product.quantity %></th>
      <th><% if product.images.attached? %>
            <% product.images.each do |image| %>
              <%= image_tag(image, style: "width:150px") %>
            <% end %>
          <% end %>
      </th>
      <th>

        <%= form_with model: @cart_product, url: carts_path ,local: true do |form|  %>
        <%= form.label :quantity %><br>
        <%= form.number_field :quantity, reqired: true %>
        <%= form.hidden_field :product_id, value: product.id %>
        <%= form.submit "add to cart" %>
        <% end %>
      </th>
    </tr>
  <% end %>
</table>

<%= render 'shared/show_cart' %>
</table>
