Create new Product
<%= form_with model: @product, url: user_products_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :price %><br>
    <%= form.number_field :price%>
  </p>
  <p>
    <%= form.label :quantity %><br>
    <%= form.number_field :quantity %>
  </p>
    <%= form.submit %>
  </p>
<% end %>